---
layout: default
---

<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro1.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro2.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro3.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro4.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro5.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro6.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro7.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro8.jpg');"></div>
  <div class="intro-image" style="background-image: url('{{ site.baseurl }}/img/intro/intro9.jpg');"></div>
  <div class="col-xs-12 text-center abcen1">
    <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">10th Anniversary!</h1>
    <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">TNF / Needlworks</h3>
    <!-- ul class="list-inline intro-social-buttons">
      <li><a href="https://twitter.com/galantiandrea" class="btn btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
      </li>
      <li id="download" ><a href="#downloadlink" class="btn btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
      </li>
    </ul -->
  </div>
  <div class="col-xs-12 text-center abcen wow fadeIn">
    <div class="button_down ">
      <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#stats"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
    </div>
  </div>
</div>

{% include navigation.html %}

<!-- Statistics -->
<div id="stats" class="content-section-b" style="border-top: 0">
  <div class="container">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>흥미로운 통계들</h2>
      <p class="lead" style="margin-top:0">그동안 응원하고 사용해주신 모든 분들께 감사드리며</p>

    </div>

    <div class="row">
        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/box.svg" alt="Generic placeholder image">
           <h3>텍스트큐브 버전</h3>
         <p class="lead">지금까지 12개의 태터툴즈 정식버전과 39개의 텍스트큐브 정식 버전을 배포하였습니다. JH님의 태터툴즈 클래식은 8개의 버전이 배포되었습니다.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 wow fadeInDown text-center">
        <img class="rotate" src="img/icon/speed.svg" alt="Generic placeholder image">
        <h3>다운로드 횟수</h3>
        <p class="lead">그동안 태터툴즈와 텍스트큐브를 합쳐 누적 220만여회 다운로드되었습니다.</p>
        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4 wow fadeInDown text-center">
        <img  class="rotate" src="img/icon/map.svg" alt="Generic placeholder image">
         <h3>현재 활동 중인 텍스트큐브 블로그</h3>
         <p class="lead">공지사항 RSS 접근기록으로 추정한 현재 텍스트큐브 블로그는 약 4만여개입니다.</p>
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

  </div>
  <div class="row tworow">
      <div class="col-sm-4 block wow bounceIn text-center">
        <img  class="rotate" src="img/icon/pencils.svg" alt="Generic placeholder image">
         <h3>공헌자</h3>
         <p class="lead">텍스트큐브 코드 작성에는 53명이 참여하였습니다. 버그 리포터로는 85명이 참여하였습니다. 포럼에는 3375명이 참여하였고 38684개의 글이 작성되었습니다.</p>
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 block wow bounceIn text-center">
        <img  class="rotate" src="img/icon/picture.svg" alt="Generic placeholder image">
         <h3>사용자 스킨</h3>
         <p class="lead">사용자들이 만들어 자유롭게 공개한 스킨은 총 619개입니다.</p>
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 block wow bounceIn text-center">
        <img  class="rotate" src="img/icon/config.svg" alt="Generic placeholder image">
         <h3>사용자 플러그인</h3>
        <p class="lead">텍스트큐브의 기능을 확장하는 플러그인은 총 611개가 만들어졌습니다.</p>
        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <div class="row threerow">

      <div class="col-sm-4  wow fadeInDown text-center">
        <img class="rotate" src="img/icon/clipboard.svg" alt="Generic placeholder image">
        <h3>FAS가 구운 스팸 개수</h3>
        <p class="lead">니들웍스에서 제공하는 <a href="http://antispam.textcube.org">FAS 안티 스팸 서비스 및 플러그인</a>이 잡은 스팸 댓글과 트랙백은 지금까지 총 380억개입니다. 99.7%의 댓글과 99.9%의 트랙백은 스팸이었습니다.</p>
       <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4  wow fadeInDown text-center">
        <img class="rotate" src="img/icon/like.svg" alt="Generic placeholder image">
        <h3>도와주신 회사</h3>
        <p class="lead">지나온 기간동안 태터앤컴퍼니, 태터앤미디어 (장비 및 행사 지원), 다음 커뮤니케이션 (서버 지원), 구글 (인프라 지원), 마이크로소프트 (테스트서버) 및 아마존 (서버 지원) 에서 도와주셨습니다.</p>
       <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4 wow fadeInDown text-center">
        <img class="rotate" src="img/icon/like.svg" alt="Generic placeholder image">
        <h3>도와주신 분들</h3>
        <p class="lead"></p>
       <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
  </div><!-- /container -->
</div><!-- /whatis -->

<div class="content-section-a">
  <div class="container">
    <div class="row">

      <div class="home">

        <h1 class="page-heading">Posts</h1>

        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div><!-- /home -->

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /content-section-a -->
