<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="footer-title">TNF / Needlworks Anniversary Page</h3>
        <p>{{site.description}}</p>
  
        <!-- LICENSE -->
        <a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy" property="dc:title">Flatfy Theme </a> by
        <a rel="dc:creator" href="http://www.andreagalanti.it" property="cc:attributionName">Andrea Galanti</a>
        is licensed to the public under 
        <br>the <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative Commons Attribution 3.0 License - NOT COMMERCIAL</a>.

      </div><!-- /col-md-7 -->

      <div class="col-md-5">
        <div class="footer-banner">
          <h3 class="footer-title">Flatfy Theme</h3>
          <ul>
            {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github"></i> <span class="username">{{ site.github_username }}</span>
              </a>
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter"></i> <span class="username">{{ site.twitter_username }}</span>
              </a>
            </li>
            {% endif %}
          </ul>
          Go to: <a href="http://andreagalanti.it/flatfy" target="_blank">andreagalanti.it/flatfy</a>
        </div>
      </div><!-- /col-md-5 -->
    </div><!-- /row -->
  </div>

  <!-- JavaScript -->
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/script.js"></script>
  <!-- StikyMenu -->
  <script src="js/stickUp.min.js"></script>
  <script type="text/javascript">
    jQuery(function($) {
      $(document).ready( function() {
        $('.navbar-default').stickUp();
      });
    });
  </script>
  <!-- Smoothscroll -->
  <script type="text/javascript" src="js/jquery.corner.js"></script> 
  <script src="js/wow.min.js"></script>
  <script type="text/javascript">
   new WOW().init();
  </script>
  <script src="js/classie.js"></script>
  <script src="js/uiMorphingButton_inflow.js"></script>
  <!-- Magnific Popup core JS file -->
  <script src="js/jquery.magnific-popup.js"></script> 

</footer>
