<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>

<!-- NavBar-->
<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#home">Up</a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menuItem"><a href="#stats">Statistics</a></li>
        <!-- TODO: links to additional content sections -->
        {% for page in site.pages %}
        {% if page.title %}
        <li class="menuItem"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="menuItem"><a href="http://www.needlworks.org">Needlworks</a></li>
      </ul>
    </div>
  </div>
</nav>
