<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3&appId=225673334156927";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- NavBar-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/#home"><img style="max-width:200px; margin-top: -10px;" src="/10yr-anniversary/img/needlworks_logo.png"></a>
    </div>
    <div id="main-nav" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/#stats">흥미로운 통계들</a></li>
        <!-- TODO: links to additional content sections -->
        {% for page in site.pages %}
        {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="http://www.needlworks.org">Needlworks</a></li>
      </ul>
    </div>
  </div>
</nav>
