<!doctype html>
<!-- FlatFy Theme - Andrea Galanti /-->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="ko"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="ko"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="ko"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="ko"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->

  {% include head.html %}

  <body{% if page.id %} id="{{ page.id }}"{% endif %}>

    {{ content }}

    {% include footer.html %}

  </body>

</html>
